.carrito{
    width: 100%;
    height: auto;
    background-color: rgb(243, 250, 255);
    padding-top: 100px;
}
.carrito .contenedor{
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.carrito .contenedor h1{
    font-size: 35px;
    padding: 40px 0 30px 0;

}
.carrito .contenedor .carrito-producto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
.carrito .contenedor .carrito-producto img{
    width: 200px;
    height: 200px;
}
.carrito .contenedor .carrito-producto div{
    margin-right: 150px;
    margin-top: 50px;
    width: 400px;
}
.carrito .contenedor .carrito-producto div p{
    font-size: 20px;
    margin: 10px 0;
}
.carrito .contenedor .boton1{
    margin: 15px 15px 20px 0;
    background-color: rgb(5, 206, 21);
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(180, 178, 178);
}
.carrito .contenedor .boton2{
    margin: 15px 15px 20px 0;
    background-color: rgb(163, 35, 35);
    padding: 10px 30px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(180, 178, 178);
    color: rgb(218, 218, 218);
}