.carrito{
    width: 100%;
    height: auto;
    background-color: rgb(243, 250, 255);
    padding-top: 100px;
}
.carrito .contenedor{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.carrito .contenedor h1{
    font-size: 35px;
    padding-top: 50px;
}
.carrito .contenedor div{
    width: 100%;
    height: auto;
}